.tableStyle {
    -fx-control-inner-background: rgb(228, 228, 241);
}
.tableLable {
    -fx-background-color:rgb(230, 191, 19);
    -fx-font: 26px "Serif";
    -fx-text-fill: rgb(44, 33, 148);
}
.marginalized-button {
    -fx-alignment: center;
}
.table-row-cell:hover {
    -fx-border-color: green; /* Vertical Lines*/
    -fx-control-inner-background: #c1c1c1;
    -fx-border-width: 1;
}